body {
  background-color: #000000;
}

.ui.inverted.segment {
  margin-bottom: 0;

  @media only screen and (max-width: 767px) {
    border-radius: 0
  }
}

.ui.inverted.pointing.menu {
  margin-top: 0;

  @media only screen and (max-width: 767px) {
    border-radius: 0;

    .item {
      border-radius: 0;
    }
  }
}

h3.ui.blue.inverted {
  i.info.circle.icon {
    font-size: .9em;
    line-height: .75em;
  }
}