.ui.segment.filter-panel {
  position: relative !important;
  top: 10px;
  left: 10px;
  bottom: auto;
  padding: 10px !important;
  border-radius: 1rem !important;

  @media only screen and (min-width: 768px) {
    max-width: 500px;
  }

  @media only screen and (max-width: 767px) {
    margin-right: 15px;
    border-radius: 0!important;
  }

  .summary h5 {
    margin-top: 0;
    margin-bottom: .5em;
  }

  .ui.menu {
    margin-bottom: .5em;
  }

  .ui.form .fields {
    margin: 0 -.5em .5em;

    .field {
      margin: 0;
    }

    .to h5 {
      text-align: center;
      line-height: 27px;
    }
  }

  .ui.form .field {
    margin: 0 0 .5em;

    .react-datepicker-wrapper {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}