.ui.segment.graph-config-panel {
  position: relative !important;
  top: 0px;
  left: 10px;
  bottom: auto;
  padding: 10px !important;
  border-radius: 1rem !important;

  @media only screen and (min-width: 768px) {
    max-width: 500px;
  }

  @media only screen and (max-width: 767px) {
    margin-right: 15px;
    border-radius: 0!important;

    .button.item.dropdown .menu .item .text {
      display: inline-block;
      width: 80vw;
      white-space: normal;
    }
  }

  .category-bars {
    width: 100%;
  }
}