.precinct-data {
  position: relative !important;
  top: 10px;
  left: 10px;
  bottom: auto;
  width: 500px;
  padding: 10px !important;
  border-radius: 1rem !important;

  @media only screen and (max-width: 767px) {
    width: 90%;
  }

  .inner-box {
    max-height: 80vh;
    overflow-y: scroll;
  }

  h3.ui.header {
    line-height: 39px;
  }
}